<h1> All Stations matching your results</h1>

<section id="Stations">

<% facade.stations.each do |station| %>
  <li class="station">
    <ul>Name: <%= station.name %></ul>
    <ul>Address: <%= station.address %></ul>
    <ul>Fuel Types: <%= station.fuel_types %></ul>
    <ul>Distance: <%= station.distance %></ul>
    <ul>Access Times: <%= station.access_times %></ul>
  </li>
<% end %>

</section>
